Server3C_102/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service3B_102/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service3B_102/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service3B_102/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service3B_102" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UpdateMahasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMahasiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMahasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMahasiswaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByNIM_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByNIM" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteByNIM_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByNIMResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CountMahasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:CountMahasiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_CountMahasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountMahasiswaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMahasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMahasiswa" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMahasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMahasiswaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UpdateMahasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMahasiswa" message="tns:IService1_UpdateMahasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMahasiswaResponse" message="tns:IService1_UpdateMahasiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByNIM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteByNIM" message="tns:IService1_DeleteByNIM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteByNIMResponse" message="tns:IService1_DeleteByNIM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountMahasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountMahasiswa" message="tns:IService1_CountMahasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountMahasiswaResponse" message="tns:IService1_CountMahasiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMahasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMahasiswa" message="tns:IService1_GetAllMahasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMahasiswaResponse" message="tns:IService1_GetAllMahasiswa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateMahasiswa">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMahasiswa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByNIM">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteByNIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountMahasiswa">
      <soap:operation soapAction="http://tempuri.org/IService1/CountMahasiswa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMahasiswa">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMahasiswa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service3B_102/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>